<?php $ini = <<<'EOF'
;*************************************************************************
; Hydrogen Configuration
;*************************************************************************

[general]
app_url = "http://tacticalresponseteam.in"
site_name = "SWAT/FIRE"

; oe api app key, youll need to get one from the devs
oe_api_application_key = "vcbxcvbbcvx"

; details the account you want people to transfer money to when they pay
; for things (i.e. the site bank)
site_bank_api_access_key = "dfasdf"
site_bank_character_name = "Some Character"

; uncomment this and put in your google analytics user code to enable google analytics
;google_analytics_code = "UA-XXXXXXX-X"

display_errors = "Off"

[chat]
private_channel = "thisisachannelonrizon"
private_channel_key = "randomkey"

[settings]
default_group = 1

[cache]
engine = "Memcached"

[database]
engine = "MysqlPDO"
host = "localhost"
port = 3306
socket = 
database = "darkcrusader"
username = "darkcrusader"
password = "xcvxvcxcvxcv"
table_prefix = 

[recache]
unique_name = 'DRK'

[semaphore]
engine = "Cache"

[errorhandler]
log_errors = 1

[log]
engine = TextFile
logdir = logs
fileprefix = "SWAT_"
; 0 = No logging
; 1 = Log Errors
; 2 = Log Warnings & worse
; 3 = Log Notices & worse
; 4 = Log Info & worse
; 5 = Log Debug messages & worse
loglevel = 1

;*************************************************************************
EOF;
?>