body {
	background-color:black;
	background-image:url('images/bg.jpg');
	background-repeat: no-repeat;
	color:white;
	font-family:MuseoSans;
	margin-bottom:2cm;
}

@font-face {
	font-family: 'MuseoSans';
	src:	url('fonts/eot/style_159303.eot') format('eot'),
			url('fonts/woff/style_159303.woff') format('woff'),
			url('fonts/svg/style_159303.svg') format('svg');
}

p {
	font-size:100%;
}

h2 {
	font-size:160%;
}

h1 {
	font-size:250%;
}

h3 {
	font-size:135%;
}

a {
	text-decoration: underline;
}
a:link { 
	text-decoration: none;
}

a.navbarlink {
	text-decoration: none;
	color:white;
}

a:visited {
	text-decoration: none;
}

a:active { 
	color:gray; 
	text-decoration: none;
}

a:hover { 
	color:gray; 
	text-decoration: underline;
}

img { 
	border: none; 
}

th {
	font-weight:bold;
	font-size:120%;
}

#container {
	width: 1100px;
	margin: 0 auto;
}
	
#header {
	width: 94%;
	margin-top: 100px;
	margin: 0 auto;
	text-align:center;
}

#page {
	width: 94%;
	margin: 0 auto;
}

.content {
}

#home, #recruitment, #kos, #blog, #login, #scans {
	display: none;
}

#scanleft {
	width:50%;
	margin: 0 auto;
	float: left;    
}

#scanright {
	width:50%;
	margin: 0 auto;
	float: right;
}